*{
    margin: 0;
    font-family: Optimistic Display,-apple-system,ui-sans-serif,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji
}

html, body{
    width: 100%;
}
a{
    text-decoration: none;
    margin: 0 10px;
}

select{
    outline: none;
    height: 30px;
    border: 0;
    background-color: rgb(235 236 240);
    border-radius: 3px;
}

select > option{
    background-color: white;
}
p{
    color: red;
}
